.ContentItem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-bottom: none;
}
.ContentItem:last-of-type {
    border-bottom: 1px solid #ebebeb;
}

.PriceContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.CountName {
    font-size: 14px;
    color: green;
}

.ExpenseName {

}

.ExpenseCategoryName {
    font-size: 14px;
    color: red;
}

.ExpenseAmount {

}